*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 20px 35px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cat{
    margin-top: 5px;
    color: #0e0e85;
}
span{
    color: black;
    opacity: 0.7;
}
.pitch{
    margin: 15px 0;
}
.btn{
   background: transparent;
   padding: 5px 10px;
   border: 2px solid #0e0e85;
   border-radius: 10px; 
   position:  absolute;
   left: 30rem;
   margin-top: 50px;
}
.last{
    background-color: #0e0e85;
    padding: 90px 40px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}
.last h1{
    line-height: 3rem;
    padding-bottom: 5px;
    color: white;
}
.last input{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    color: black;
    background: white;
    outline: none;
}
.btn{
    background-color: #0e0e85;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
}